.jumbotron {
	background-color: #C44176;
}

/* By default it's not affixed in mobile views, so undo that */
.bs-sidebar.affix {
  position: static;
}

#sidebar h3 {
  padding-left: 5px;
}

/* First level of nav */
.bs-sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.bs-sidebar .nav > li > a {
  display: block;
  color: #4d4d4d;
  padding: 5px 20px;
}
.bs-sidebar .nav > li > a:hover,
.bs-sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #C44176;
  color: white;
  text-shadow: none;
}
.bs-sidebar .nav > .active > a,
.bs-sidebar .nav > .active:hover > a,
.bs-sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #C44176;
  text-shadow: none;
  border-left: 2px solid #C44176;
}

.bs-sidebar .nav > .active:hover > a {
  color:white;
}


/* Nav: second level (shown on .active) */
.bs-sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.bs-sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

.affix-top,.affix{
  position: static;
}

.main {
	margin-bottom: 100px;
}

/* footer */
footer {
	width: 100%;
	background-color: #ffffff;
	color: #58595b;
	padding-top: 50px;
	padding-bottom: 50px;
	height:200px;
	clear:both;
}

footer a {
  color: #58595b;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color:#C44176;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition:.2s;
}




.flag-tag {
	text-align: center;
}